<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active current"><a routerLink="/followers">Followers</a></li>
        <li routerLinkActive="active current"><a routerLink="/posts">Posts</a></li>
        <li routerLinkActive="active current"><a routerLink="/animations">Animations</a></li>
        <li routerLinkActive="active current"><a routerLink="/material">Material</a></li>
        <li routerLinkActive="active current"><a routerLink="/password-change">Password Change</a></li>
        <li routerLinkActive="active current"><a routerLink="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>