<div @posts-animation>
  <h1>POSTS</h1>

<input type="text" class="form-control" (keyup.enter)="createPost(title)" #title>
<ul class="list-group">
  <li *ngFor="let post of posts" class="list-group-item" 
    @post-animation>
    {{post.title}}
    <button type="button" 
    class="btn btn-success btn-xs pull-right"
    (click)="updatePost(post)">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button type="button" 
    class="btn btn-danger btn-xs pull-right"
    (click)="deletePost(post)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </li>
</ul>
</div>